// button
.btn {
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  background: #ffffff;
  box-shadow: $btn-shadow;
  transition: all .2s;

  &.btn-round {
    border-radius: 40px;
  }
}

// card
.card {
  padding: 20px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: $card-shadow;
  border-radius: 5px;
  
  &.card-circle {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// link
.small_link {
  font-size: 14px;

  a {
    color: $blue;
    text-decoration: underline;
  }
}

// status-label
.state-label,
.status-label,
.status-label-small {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  box-shadow: $btn-shadow;

  &.canceled {
    background: $black;
  }
  &.requested {
    background: $pink;
  }
  &.confirmed {
    background: rgb(255, 176, 29);
  }

  &.close {
    background: #E56A6A;
  }
  &.open {
    background: #ffb224;
  }
  &.break {
    background: #808080;
  }
}

.status-label-small {
  font-size: 14px;
  padding: 4px 6px;
  box-shadow: none;
}

.state-label {
  font-weight: 600;
  text-shadow: 0 0 3px rgba($color: #000000, $alpha: 1.0);
}