// button
.btn {
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  background: #ffffff;
  box-shadow: $btn-shadow;
  transition: all .2s;

  &.btn-round {
    border-radius: 40px;
  }
}

// card
.card {
  padding: 20px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: $card-shadow;
  border-radius: 5px;
  
  &.card-circle {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// link
.small_link {
  font-size: .8rem;

  a {
    color: $blue;
  }
}