#home-app {
  height: 100vh;

  & > * {
    height: 120px;
    padding: 0 40px;
  }

  #header {
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background: $skyblue;

    .gnb .btn:hover {
      background: $yellow;
    }
  }

  #header .gnb li {
    display: inline-block;
    margin-left: 20px;
  }

  #main {
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    form {
      margin: 0 auto;
    }

    .content-index {
      .btn {
        margin: 0 10px;
        background: $lightgray;
      }
    }
  }

  .content-application, 
  .content-result {
    height: 100%;
    justify-content: center;
    
    p {
      line-height: 2rem;
    }
  }
}