#home-app {
  height: 100vh;

  #header {
    height: 120px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: $skyblue;

    .gnb .btn:hover {
      background: $yellow;
    }
  }

  #header .gnb li {
    display: inline-block;
    margin-left: 20px;
  }

  #main {
    flex: 1;
    text-align: center;    
  }

  form {
    margin: 0 auto;
  }

  .content {
    padding: 40px;
  }
  
  .content-index {
    margin-top: 40px;
    .btn {
      margin: 0 10px;
      background: $lightgray;
    }
  }

  .content-application, 
  .content-result {
    height: 100%;
    justify-content: center;
    
    p {
      line-height: 2rem;
    }
  }

  .content-application .content-title {
    margin-bottom: 10px;
  }
}