#owner-app {
  height: 100vh;
  overflow: hidden;

  #header {
    height: 60px;
    padding: 0 20px;
    background: $skyblue;

    display: flex;
    align-items: center;
    justify-content: space-between;

    > div > * {
      display: inline-block;
    }

    .aside-btn {
      padding: 20px;
      background: none;
    }

    .state-btn:hover .state-btn-list {
      display: block;
    }

    .state-btn-list {
      display: none;
    }

    .state-btn-container {
      margin-left: 20px;
      position: relative;

      &:hover > ul {
        display: block;
      }

      > ul {
        padding: 10px 0;
        position: absolute;
        display: none;

        > * {
          margin: 5px 0;
        }
      }
    }
  }

  #main {
    flex: 1;
    height: calc(100vh - 60px);
  }

  .content-login,
  .content-initial {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .content-initial {
    h2 {
      font-size: 1.8rem;
      margin-bottom: 10px;

      + small {
        color: $blue;
        margin-bottom: 20px;
      }
    }
    .card {
      margin: 20px auto;
      padding: 0;
      background: url("./default.jpg") no-repeat center/cover;
    }
  }

  .aside {
    position: absolute;
    left: -240px;
    width: 240px;
    padding: 40px;
    background: $skyblue;
    transition: all 0.3s;
    line-height: 3rem;
    font-size: 1rem;

    &.show,
    &:hover {
      left: 0;
    }

    &.locked {
      height: 100%;
      position: static;
    }

    .card {
      margin: 20px auto;
    }
  }

  .content {
    flex: 1;
    padding: 20px;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .content-close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 4rem;
  }

  .content-open {
    display: flex;
    align-items: center;
  }

  .list {
    flex: 1;
    height: calc(60%);
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-bottom: 40px;

    &::-webkit-scrollbar {
      display: block;
      width: 0;
    }

    .list-item {
      flex-grow: 0;
      flex-basis: calc(960px / 4);
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 30px 20px;
      margin: 10px;
      height: 140px;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: $yellow;
      }

      &.called {
        background: #b9e0e6;
      }

      .reserv-no {
        font-weight: 600;
        font-size: 1.6rem;
      }

      .reserv-waittime {
        margin-top: 5px;
        color: #a5a5a5;
      }
    }
  }

  .info {
    flex-basis: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .realtime-total {
      margin: 0 auto 40px;
      width: 200px;
      height: 200px;
      font-size: 1rem;

      strong {
        margin-bottom: 5px;
        line-height: 90%;
        font-size: 5rem;
        color: #378ba6;
      }
    }

    .detail {
      padding: 30px;
      height: 240px;

      > * {
        margin-bottom: 10px;
      }

      .detail-no {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .detail-headcount,
      .detail-contact {
        font-size: 18px;
      }

      .detail-regtime,
      .detail-waittime {
        font-weight: 300;
        margin-bottom: 5px;
      }
    }

    .btn-container {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    .cancel-menu {
      display: none;
      position: absolute;
      top: 50px;
      width: 30%;

      &.show {
        display: block;
      }

      li {
        background: #ec5d5d40;
        padding: 10px;
        margin: 5px 0;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .reserv-btn {
      flex: 1;
      margin-right: 15px;
      font-size: 18px;
      color: #fff;
      height: 48px;

      &:last-of-type {
        margin-right: 0;
      }

      &:nth-of-type(1) {
        background: #ec5d5d;
      }
      &:nth-of-type(2) {
        background: #6d6d6d;
      }
      &:nth-of-type(3) {
        background: #3387e9;
      }
    }
  }

  .logout-link {
    cursor: pointer;
  }

  .content-setting {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .inner {
      width: 480px;
      margin: 40px auto 20px;

      > *:not(:last-child) {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid currentColor;
      }
    }

    .small_link {
      text-align: center;
    }

    h2 {
      margin-bottom: 20px;
      text-align: center;
    }

    .static-info p {
      line-height: 3rem;
    }

    .more-info-form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      height: 160px;
      max-width: 100%;

      textarea {
        flex: 1;
      }
    }

    .profile-form {
      position: relative;
      margin: 0 auto;
      width: 160px;
      height: 160px;
      margin-bottom: 20px;

      .card {
        margin: 0 auto;
        height: 100%;
        width: 100%;
      }

      input {
        display: none;
      }

      label {
        position: absolute;
        right: -20%;
        bottom: -5px;
        width: fit-content;
        background: #efefef;
        border: 1px solid #c4c4c4;
        cursor: pointer;
      }
    }

    button {
      margin: 0;
    }
  }
}
