$yellow: #FFF48F;
$blue: #3387E9;
$skyblue: #DEEDEF;
$lightgray: #C4C4C4;
$navy: #4A5770;
$pink: #EC9494;
$black: #666;

$card-shadow: 0px 0px 4px rgba($color: $black, $alpha: .6);
$btn-shadow: 0 0 4px rgba($color: $black, $alpha: .4);
