@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
}

article, aside, header, nav, section {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, li {
  list-style: none;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.btn {
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  background: #ffffff;
  -webkit-box-shadow: 0 0 4px rgba(102, 102, 102, 0.4);
          box-shadow: 0 0 4px rgba(102, 102, 102, 0.4);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn.btn-round {
  border-radius: 40px;
}

.card {
  padding: 20px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 4px rgba(102, 102, 102, 0.6);
          box-shadow: 0px 0px 4px rgba(102, 102, 102, 0.6);
  border-radius: 5px;
}

.card.card-circle {
  padding: 0;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.card-circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.small_link {
  font-size: 14px;
}

.small_link a {
  color: #3387E9;
  text-decoration: underline;
}

.state-label,
.status-label,
.status-label-small {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(102, 102, 102, 0.4);
          box-shadow: 0 0 4px rgba(102, 102, 102, 0.4);
}

.state-label.canceled,
.status-label.canceled,
.status-label-small.canceled {
  background: #666;
}

.state-label.requested,
.status-label.requested,
.status-label-small.requested {
  background: #EC9494;
}

.state-label.confirmed,
.status-label.confirmed,
.status-label-small.confirmed {
  background: #ffb01d;
}

.state-label.close,
.status-label.close,
.status-label-small.close {
  background: #E56A6A;
}

.state-label.open,
.status-label.open,
.status-label-small.open {
  background: #ffb224;
}

.state-label.break,
.status-label.break,
.status-label-small.break {
  background: #808080;
}

.status-label-small {
  font-size: 14px;
  padding: 4px 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.state-label {
  font-weight: 600;
  text-shadow: 0 0 3px black;
}

.MuiSvgIcon-root {
  margin-right: 10px;
}

#home-app {
  height: 100vh;
}

#home-app #header {
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
  background: #DEEDEF;
}

#home-app #header .gnb .btn:hover {
  background: #FFF48F;
}

#home-app #header .gnb li {
  display: inline-block;
  margin-left: 20px;
}

#home-app #main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#home-app form {
  margin: 0 auto;
}

#home-app .content {
  padding: 40px;
}

#home-app .content-index {
  margin-top: 40px;
}

#home-app .content-index .btn {
  margin: 0 10px;
  background: #C4C4C4;
}

#home-app .content-application,
#home-app .content-result {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home-app .content-application p,
#home-app .content-result p {
  line-height: 2rem;
}

#home-app .content-application .content-title {
  margin-bottom: 10px;
}

#admin-app {
  height: 100vh;
}

#admin-app #header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
  padding: 20px 40px;
  background: #4A5770;
  color: #fff;
}

#admin-app #header .logo span {
  margin-left: 20px;
  font-size: 1.4rem;
}

#admin-app #main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

#admin-app table {
  border-collapse: collapse;
}

#admin-app .content {
  padding: 40px;
}

#admin-app .content-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

#admin-app .content-login {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4A5770;
  color: #eee;
}

#admin-app .content-list {
  height: 100%;
}

#admin-app .content-list table {
  width: 100%;
  text-align: center;
}

#admin-app .content-list tbody tr {
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#admin-app .content-list tbody tr:nth-of-type(odd) {
  background: #f6f6f6;
}

#admin-app .content-list tbody tr:hover {
  background: #DEEDEF;
}

#admin-app .content-list th,
#admin-app .content-list td {
  padding: 10px;
}

#admin-app .content-list th:not(:last-child),
#admin-app .content-list td:not(:last-child) {
  border-right: 1px solid #C4C4C4;
}

#admin-app .content-detail .content-header .btn {
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  margin-left: 15px;
}

#admin-app .content-detail .content-header .btn:hover {
  background: #C4C4C4;
}

#admin-app .content-detail article span {
  display: inline-block;
}

#admin-app .content-detail article div {
  padding: 20px 10px;
}

#admin-app .content-detail article div:not(:last-of-type) {
  border-bottom: 1px solid #C4C4C4;
}

#admin-app .content-detail article div :first-child {
  width: 100px;
  margin-right: 20px;
}

#admin-app .content-detail article div:last-of-type :first-child {
  display: block;
  margin-bottom: 20px;
}

#customer-app {
  height: 100vh;
  overflow: hidden;
}

#customer-app #main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  overflow: inherit;
}

#customer-app #header {
  padding: 20px;
  text-align: center;
}

#customer-app #header h1 {
  height: 80px;
}

#customer-app #header h1 img {
  height: 100%;
}

#customer-app #header h2 {
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}

#customer-app .content {
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
}

#customer-app .content-visual {
  background: url("./background.svg") no-repeat center/cover;
  height: 100%;
}

#customer-app .content-visual .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 140%;
  max-width: 80%;
  width: 300px;
  color: #333;
}

#customer-app .content-visual .btn {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #FFF48F;
}

#customer-app .search-form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 10px;
  height: 40px;
  -webkit-box-shadow: 0px 0px 4px rgba(102, 102, 102, 0.6);
          box-shadow: 0px 0px 4px rgba(102, 102, 102, 0.6);
}

#customer-app .search-form input {
  width: 70%;
  padding: 0 5px;
  margin-right: 15px;
}

#customer-app .search-form select {
  width: 30%;
}

#customer-app .content-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 4px rgba(102, 102, 102, 0.6);
          box-shadow: 0px 0px 4px rgba(102, 102, 102, 0.6);
}

#customer-app .content-list .list-item img {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
  -webkit-box-shadow: 0px 0px 4px rgba(102, 102, 102, 0.6);
          box-shadow: 0px 0px 4px rgba(102, 102, 102, 0.6);
}

#customer-app .content-list .list-item .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto 100%;
          flex: 1 auto 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}

#customer-app .content-list .list-item .info :first-child {
  font-size: 16px;
}

#customer-app .content-detail {
  text-align: center;
  overflow: visible;
}

#customer-app .content-detail .btn {
  display: block;
  max-width: 400px;
  margin: 0 auto;
  background: #FFF48F;
}

#customer-app .content-detail .card-container {
  position: relative;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
}

#customer-app .content-detail .card-container > * {
  max-width: 200px;
  max-height: 200px;
  width: 40vw;
  height: 40vw;
}

#customer-app .content-detail .realtime-total {
  position: relative;
  left: -40px;
}

#customer-app .content-detail .realtime-total strong {
  margin-bottom: 5px;
  line-height: 90%;
  font-size: 4rem;
  color: #378ba6;
}

#customer-app .content-detail .info {
  text-align: left;
  width: 80%;
  max-width: 400px;
  margin: 40px auto;
  line-height: 3rem;
}

#customer-app .content-detail .info h2 {
  text-align: center;
}

#customer-app .content-reserv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#customer-app .content-reserv .info {
  text-align: center;
}

#customer-app .content-reserv .info .card {
  margin: 0 auto;
}

#customer-app .content-reserv .info p {
  margin: 20px 0;
  font-size: 18px;
}

#customer-app .content-reserv form {
  margin: 0 auto;
}

#customer-app .content-reserv form > * {
  display: block;
  width: 100%;
}

#customer-app .content-reserv form .btn {
  background: #FFF48F;
}

#customer-app .content-result {
  /* reserv result */
}

#customer-app .content-result > div {
  width: 80%;
  max-width: 400px;
  line-height: 2rem;
  margin: 30px auto;
}

#customer-app .content-result .main-info {
  position: relative;
  text-align: center;
  font-size: 16px;
  padding-bottom: 30px;
}

#customer-app .content-result .rstrnt-nm {
  font-size: 1.4rem;
}

#customer-app .content-result .reserv-no {
  color: #378ba6;
  font-size: 4rem;
  line-height: 120%;
}

#customer-app .content-result small {
  position: relative;
  margin-top: 10px;
  display: block;
  font-weight: 200;
}

#customer-app .content-result small ::after {
  content: "";
  width: 40%;
  height: 1px;
  background: #aaa;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#customer-app .content-result h3 {
  text-align: center;
}

#customer-app .content-result .reserv-info {
  padding-bottom: 20px;
  position: relative;
}

#customer-app .content-result .reserv-info ::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #aaa;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#owner-app {
  height: 100vh;
  overflow: hidden;
}

#owner-app #header {
  height: 60px;
  padding: 0 20px;
  background: #DEEDEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#owner-app #header > div > * {
  display: inline-block;
}

#owner-app #header .aside-btn {
  padding: 20px;
  background: none;
}

#owner-app #header .state-btn:hover .state-btn-list {
  display: block;
}

#owner-app #header .state-btn-list {
  display: none;
}

#owner-app #header .state-btn-container {
  margin-left: 20px;
  position: relative;
}

#owner-app #header .state-btn-container:hover > ul {
  display: block;
}

#owner-app #header .state-btn-container > ul {
  padding: 10px 0;
  position: absolute;
  display: none;
}

#owner-app #header .state-btn-container > ul > * {
  margin: 5px 0;
}

#owner-app #main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: calc(100vh - 60px);
}

#owner-app .content-login,
#owner-app .content-initial {
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#owner-app .content-initial h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

#owner-app .content-initial h2 + small {
  color: #3387E9;
  margin-bottom: 20px;
}

#owner-app .content-initial .card {
  margin: 20px auto;
  padding: 0;
  background: url("./default.jpg") no-repeat center/cover;
}

#owner-app .aside {
  position: absolute;
  left: -240px;
  width: 240px;
  padding: 40px;
  background: #DEEDEF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 3rem;
  font-size: 1rem;
}

#owner-app .aside.show, #owner-app .aside:hover {
  left: 0;
}

#owner-app .aside.locked {
  height: 100%;
  position: static;
}

#owner-app .aside .card {
  margin: 20px auto;
}

#owner-app .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

#owner-app .content-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  line-height: 4rem;
}

#owner-app .content-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#owner-app .list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: calc(60%);
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-bottom: 40px;
}

#owner-app .list::-webkit-scrollbar {
  display: block;
  width: 0;
}

#owner-app .list .list-item {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: calc(960px / 4);
      flex-basis: calc(960px / 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 20px;
  margin: 10px;
  height: 140px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#owner-app .list .list-item:hover {
  background: #FFF48F;
}

#owner-app .list .list-item.called {
  background: #b9e0e6;
}

#owner-app .list .list-item .reserv-no {
  font-weight: 600;
  font-size: 1.6rem;
}

#owner-app .list .list-item .reserv-waittime {
  margin-top: 5px;
  color: #a5a5a5;
}

#owner-app .info {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#owner-app .info .realtime-total {
  margin: 0 auto 40px;
  width: 200px;
  height: 200px;
  font-size: 1rem;
}

#owner-app .info .realtime-total strong {
  margin-bottom: 5px;
  line-height: 90%;
  font-size: 5rem;
  color: #378ba6;
}

#owner-app .info .detail {
  padding: 30px;
  height: 240px;
}

#owner-app .info .detail > * {
  margin-bottom: 10px;
}

#owner-app .info .detail .detail-no {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

#owner-app .info .detail .detail-headcount,
#owner-app .info .detail .detail-contact {
  font-size: 18px;
}

#owner-app .info .detail .detail-regtime,
#owner-app .info .detail .detail-waittime {
  font-weight: 300;
  margin-bottom: 5px;
}

#owner-app .info .btn-container {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#owner-app .info .cancel-menu {
  display: none;
  position: absolute;
  top: 50px;
  width: 30%;
}

#owner-app .info .cancel-menu.show {
  display: block;
}

#owner-app .info .cancel-menu li {
  background: #ec5d5d40;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

#owner-app .info .reserv-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px;
  font-size: 18px;
  color: #fff;
  height: 48px;
}

#owner-app .info .reserv-btn:last-of-type {
  margin-right: 0;
}

#owner-app .info .reserv-btn:nth-of-type(1) {
  background: #ec5d5d;
}

#owner-app .info .reserv-btn:nth-of-type(2) {
  background: #6d6d6d;
}

#owner-app .info .reserv-btn:nth-of-type(3) {
  background: #3387e9;
}

#owner-app .logout-link {
  cursor: pointer;
}

#owner-app .content-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}

#owner-app .content-setting::-webkit-scrollbar {
  display: none;
}

#owner-app .content-setting .inner {
  width: 480px;
  margin: 40px auto 20px;
}

#owner-app .content-setting .inner > *:not(:last-child) {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid currentColor;
}

#owner-app .content-setting .small_link {
  text-align: center;
}

#owner-app .content-setting h2 {
  margin-bottom: 20px;
  text-align: center;
}

#owner-app .content-setting .static-info p {
  line-height: 3rem;
}

#owner-app .content-setting .more-info-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  height: 160px;
  max-width: 100%;
}

#owner-app .content-setting .more-info-form textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#owner-app .content-setting .profile-form {
  position: relative;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
}

#owner-app .content-setting .profile-form .card {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#owner-app .content-setting .profile-form input {
  display: none;
}

#owner-app .content-setting .profile-form label {
  position: absolute;
  right: -20%;
  bottom: -5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #efefef;
  border: 1px solid #c4c4c4;
  cursor: pointer;
}

#owner-app .content-setting button {
  margin: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #666;
  font-size: 14px;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
}

.err-message {
  color: red;
  margin-bottom: 10px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form {
  width: 100%;
  max-width: 340px;
}

form > * {
  width: 100%;
  display: block;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

form label {
  border: none;
}

form label input[type="checkbox"] {
  margin-right: 10px;
}

form button:hover {
  background: #FFF48F;
}

.content-title {
  margin-bottom: 30px;
}

.profile-img {
  background: url("../default.jpg") no-repeat center/cover;
}
/*# sourceMappingURL=index.css.map */