@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
}

article, aside, header, nav, section {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, li {
  list-style: none;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.btn {
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  background: #ffffff;
  -webkit-box-shadow: 0 0 4px rgba(102, 102, 102, 0.4);
          box-shadow: 0 0 4px rgba(102, 102, 102, 0.4);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn.btn-round {
  border-radius: 40px;
}

.card {
  padding: 20px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(102, 102, 102, 0.25);
          box-shadow: 0px 0px 10px rgba(102, 102, 102, 0.25);
  border-radius: 5px;
}

.card.card-circle {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.card-circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.small_link {
  font-size: 14px;
}

.small_link a {
  color: #3387E9;
  text-decoration: underline;
}

.status-label,
.status-label-small {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(102, 102, 102, 0.4);
          box-shadow: 0 0 4px rgba(102, 102, 102, 0.4);
}

.status-label.canceled,
.status-label-small.canceled {
  background: #666;
}

.status-label.requested,
.status-label-small.requested {
  background: #EC9494;
}

.status-label.confirmed,
.status-label-small.confirmed {
  background: #ffb01d;
}

.status-label-small {
  font-size: 14px;
  padding: 4px 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#home-app {
  height: 100vh;
}

#home-app #header {
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
  background: #DEEDEF;
}

#home-app #header .gnb .btn:hover {
  background: #FFF48F;
}

#home-app #header .gnb li {
  display: inline-block;
  margin-left: 20px;
}

#home-app #main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#home-app form {
  margin: 0 auto;
}

#home-app .content {
  padding: 40px;
}

#home-app .content-index {
  margin-top: 40px;
}

#home-app .content-index .btn {
  margin: 0 10px;
  background: #C4C4C4;
}

#home-app .content-application,
#home-app .content-result {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home-app .content-application p,
#home-app .content-result p {
  line-height: 2rem;
}

#home-app .content-application .content-title {
  margin-bottom: 10px;
}

#admin-app {
  height: 100vh;
}

#admin-app #header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
  padding: 20px 40px;
  background: #4A5770;
  color: #fff;
}

#admin-app #header .logo span {
  margin-left: 20px;
  font-size: 1.4rem;
}

#admin-app #main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

#admin-app table {
  border-collapse: collapse;
}

#admin-app .content {
  padding: 40px;
}

#admin-app .content-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

#admin-app .content-login {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4A5770;
  color: #eee;
}

#admin-app .content-list {
  height: 100%;
}

#admin-app .content-list table {
  width: 100%;
  text-align: center;
}

#admin-app .content-list tbody tr {
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#admin-app .content-list tbody tr:nth-of-type(odd) {
  background: #f6f6f6;
}

#admin-app .content-list tbody tr:hover {
  background: #DEEDEF;
}

#admin-app .content-list th,
#admin-app .content-list td {
  padding: 10px;
}

#admin-app .content-list th:not(:last-child),
#admin-app .content-list td:not(:last-child) {
  border-right: 1px solid #C4C4C4;
}

#admin-app .content-detail .content-header .btn {
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  margin-left: 15px;
}

#admin-app .content-detail .content-header .btn:hover {
  background: #C4C4C4;
}

#admin-app .content-detail article span {
  display: inline-block;
}

#admin-app .content-detail article div {
  padding: 20px 10px;
}

#admin-app .content-detail article div:not(:last-of-type) {
  border-bottom: 1px solid #C4C4C4;
}

#admin-app .content-detail article div :first-child {
  width: 100px;
  margin-right: 20px;
}

#admin-app .content-detail article div:last-of-type :first-child {
  display: block;
  margin-bottom: 20px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #666;
  font-size: 16px;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
}

.err-message {
  color: red;
  margin-bottom: 10px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form {
  width: 100%;
  max-width: 340px;
}

form > * {
  width: 100%;
  display: block;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

form button:hover {
  background: #FFF48F;
}

.content-title {
  margin-bottom: 30px;
}
/*# sourceMappingURL=index.css.map */